<h1><%= @question.title %></h1>
<h3><%= @question.content %></h3>

<div id="errors"></div>

<div class="answers">
<% @question.answers.each do |answer| %>
    <%= answer.body %><br>
<% end %>
</div>

<%= render partial: 'answers/inline_form' %>

