<h1><%= @question.title %></h1>
<h3><%= @question.content %></h3>

<% @question.answers.each do |answer| %>
  <%= answer.body %><br>
<% end %>

<% if logged_in? %>
  <%= render partial: 'answers/inline_form' %>
<% else %>
  <p> Login to submit a comment </p>
<% end %>
